/*首页导航栏*/

.header_div {
	width: 100%;
	height: 216px;
}

.navbox {
	border-bottom: 1px solid #ededed;
	width: 100%;
	background: #f6f6f6;
}

.navbox ul {
	width: 1200px;
	height: 54px;
	margin: 0 auto;
}

.navbox ul li {
	float: left;
}

.header {
	width: 100%;
	background: #FFFEFF;
}

.logobox {
	height: 100px;
	width: 1200px;
	margin: 0 auto;
}

.logobox .logo {
	width: 320px;
	height: 83px;
	float: left;
}

.logobox .logo a {
	background: url(img/moonbasa_logo.jpg);
	width: 320px;
	height: 83px;
	display: block;
}

.logininfo .tel {
	padding-left: 14px;
	background: url(img/tel.jpg) no-repeat;
}



.searchbox .hot_keywords {
	border: 1px solid #FFFEFF;
}

.searchbox .hot_keywords ul li {
	float: left;
	margin: 4px 0;
	padding: 2px 10px;
	border-right: 1px solid #e3e3e3;
	height: 12px;
	line-height: 12px;
}

.logobox .newArrivals {
	float: right;
	margin: 20px 50px 0 0;
}


/*菜单导航栏*/

.menubox {
	background: #FFFFFF;
	width: 100%;
}

.menubox .menu {
	width: 1200px;
	margin: 0 auto;
}

.menu {
	position:relative;
	background: #FFFFFF;
	height: 30px;
	z-index: 10;
}

.menu li a {
	display: block;
	height: 29px;
	color: #000;
	font-size: 14px;
	font-family: 微软雅黑;
	padding: 0 25px 0 17px;
	line-height: 29px;
	letter-spacing: 1px;
}

.menu li a:hover {
	color: #e50163;
}

.menu .menunav_left li {
	float: left;
}

.menu .menunav_right {
	float: right;
}

.menu .menunav_right li {
	float: left;
}


/*内容部分，轮播图*/

.content {
	width: 100%;
	background: #e4e4e4;
}

.banner {
	position: relative;
}

.banner .select_banner {
	position: absolute;
	width: 175px;
	height: 20px;
	right: 30px;
	bottom: 30px;
}

.banner .select_banner li {
	float: left;
	width: 16px;
	height: 16px;
	margin: 4px;
	background: url(img/whileball.png) no-repeat center;
	display: block;
}

.banner ul li {
	display: none;
	width: 100%;
	background: url(img/banner1.jpg) no-repeat center top;
}

.banner ul li a {
	width: 1200px;
	margin: 0 auto;
	display: block;
}

.maxbox {
	width: 100%;
	background: #e4e4e4;
}

.bigbox {
	width: 1200px;
	height: 324px;
	margin: 0 auto;
	background: #e4e4e4;
}

.bigbox .bigbox_left {
	padding-top: 54px;
	float: left;
}

.bigbox .bigbox_right_nav {
	width: 556px;
	height: 34px;
	position: absolute;
	top: 20px;
}

.bigbox .bigbox_right_nav li {
	background: #fff;
	border: none;
	color: #666;
	float: left;
	height: 24px;
	line-height: 24px;
	list-style: outside none none;
	margin-right: 10px;
	padding: 0;
	position: relative;
	text-align: center;
	width: 100px;
}

.bigbox .bigbox_right_nav li span {
	background: url(img/sanjiao.png)no-repeat center;
	display: block;
	position: absolute;
	width: 9px;
	height: 5px;
	left: 50px;
	display: none;
}

.bigbox .bigbox_right img {
	float: left;
}

.bigbox .bigbox_right_nav0 {
	display: none;
	width: 950px;
	height: 262px;
}

.bigbox .bigbox_right_nav1 {
	display: none;
	width: 950px;
	height: 262px;
}
.bigbox .bigbox_right_nav1 .left {
	height: 262px;
	width: 430px;
	float: left;
}

.bigbox .bigbox_right_nav1 .center {
	height: 262px;
	width: 394px;
	float: left;
	overflow: hidden;
}

.bigbox .bigbox_right_nav1 .right {
	height: 262px;
	width: 126px;
	float: left;
}

.bigbox .bigbox_right_nav2 {
	display: none;
	width: 950px;
	height: 262px;
}

.bigbox .bigbox_right_nav2 li{
	margin: 1px;
	width: 118px;
    height: 64px;
    float: left;
    list-style: none;
    padding-left: 10px;
    background: #FFFFFF;
    position:relative
}
.bigbox .bigbox_right_nav2 li img{
	position: absolute;
}
.bigbox .bigbox_right_nav3 {
	display: block;
	width: 950px;
	height: 262px;
}

.bigbox .bigbox_right {
	position: relative;
	padding-top: 54px;
	float: right;
}

.product_list {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	background: #FFFEFF;
}

.product {
	padding: 0 0 10px 10px;
	width: 227px;
	overflow: hidden;
	display: block;
	overflow: hidden;
	float: left;
	text-decoration: none;
	background: #FFFFFF;
}

.product .product_introduce {
	padding: 3px;
	width: 221px;
	height: 18px;
	overflow: hidden;
	text-align: center;
	background: #F0F0F0;
}

.product .product_price {
	padding: 3px;
	width: 221px;
	height: 18px;
	overflow: hidden;
	text-align: center;
	background: #F0F0F0;
	color: rgb(190, 23, 36);
	font-size: 24px;
}

.content .America_show {
	width: 100%;
	background: #e4e4e4;
}

.America_show .America_free {
	margin: 0 auto;
	width: 1200px;
}

.America_show .hot_sale {
	margin: 0 auto;
	width: 1200px;
}

.America_show .new_product_week {
	overflow: hidden;
	margin: 0 auto;
	width: 1200px;
}

.America_show .new_product_show li {
	margin-right: 10px;
    margin-bottom: 11px;
    float: left;
    height: 371px;
    width: 390px;
}

.America_show .good_product_week {
	margin: 0 auto;
	width: 1200px;
}
.new_product_banner{
	margin:10px 0;
}
.good_product_week img {
	float: left;
}

.America_show .popular_product_week {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.popular_product_week .popular_product_week_left {
	float: left;
}

.popular_product_week .popular_product_week_left li {
	display: none;
	float: left;
}

.popular_product_week .popular_product_week_right {
	float: right;
	width: 600px;
	margin-left: 5px;
	
}

.popular_product_week .popular_product_week_right li {
	float: left;
}

.famous_product {
	width: 100%;
	background: #e4e4e4;
	overflow: hidden;
}

.famous_product_box {
	width: 1200px;
	margin: 0 auto;
}

.famous_product_title {
	display: block;
	width: 1200px;
	margin: 0 auto;
}

.famous_product_nav {
	margin: 0 auto;
	overflow: hidden;
	width: 550px;
}

.famous_product_nav li {
	float: left;
	margin: 7px 28px;
	list-style: none;
	padding: 0;
	color: #000000;
	font-size: 14px;
	font-family: '微软雅黑';
}

.famous_product_left {
	float: left;
}

.famous_product_right {
	width: 904px;
	float: left;
	margin-left: 10px;
}

.famous_product_right ul li {
	float: left;
}

.sub_brand {
	width: 1200px;
	margin: 0 auto;
}

.grace_series {
	overflow: hidden;
}

.grace_series_left {
	float: left;
	width: 171px;
}

.grace_series_left .top {
	background: #ff706e;
	width: 171px;
	height: 210px;
	float: left;
}

.grace_series_left .top a img {
	margin: 0 auto;
}

.grace_series_left .top p {
	width: 130px;
	height: 120px;
	margin: 0 auto;
}

.grace_series_left .top p a {
	line-height: 26px;
	height: 26px;
	font-size: 14px;
	font-family: "宋体";
	padding-right: 7px;
	position: relative;
	color: #FFFFFF;
}

.grace_series_right {
	float: left;
}

.grace_series_list {
	width: 1200px;
	margin: 0 auto;
}

.grace_series_list a {
	width: 239px;
	float: left;
	background: #fff;
	margin: 0px;
	position: relative;
	display: block;
	border-top: solid 1px #e4e4e4;
	border-right: solid 1px #e4e4e4;
}

.grace_series_list img {
	width: 219px;
	height: 296px;
	margin: 10px;
}

.grace_series_list .title {
	width: 219px;
	overflow: hidden;
	line-height: 26px;
	height: 24px;
	margin-top: 10px;
	display: block;
	color: #7f7f7f;
	font-size: 13px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: "宋体";
	text-align: center;
	text-indent: 10px;
}

.grace_series_list .price {
	font-size: 14px;
	color: #b70202;
	font-weight: normal;
	font-family: "微软雅黑";
}

.grace_series_list .marksale {
	color: #b1b1b1;
	font-weight: normal;
	font-size: 14px;
	padding-left: 13px;
	text-decoration: line-through;
}

.grace_series_list .price_place {
	width: 219px;
	height: 24px;
	margin: 0 auto;
	text-align: center;
}

.product_lift {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.young h3 {
	background: url(img/young_title.png);
	height: 53px;
	width: 1200px;
}

.young h3 p {
	float: left;
	padding: 16px 0 0 50px;
}


/*底部广告图*/

.ad_picture {
	width: 1200px;
	margin: 0 auto;
}


/*商品列表*/

.sort_Item {
	width: 1200px;
	height: 390px;
	margin: 0 auto;
}

.sort_Item h3 {
	height: 22px;
	border-bottom: 1px solid #ccc;
	background: none;
	margin-top: 40px;
}

.sort_Item h3 span {
	display: block;
	width: 128px;
	padding-top: 10px;
	margin: 0 auto;
	font-size: 16px;
	position: relative;
	text-align: center;
	font-weight: 600;
	background: #e4e4e4;
}

.sort_Item ul {
	width: 100%;
	padding-top: 52px;
	overflow: hidden;
}

.sort_Item ul li {
	float: left;
	width: 150px;
}

.sort_Item ul li strong {
	display: block;
	width: 100%;
	text-align: center;
	color: #000;
}

.sort_Item li strong a {
	color: #000;
}

.sort_Item ul li a img {
	display: block;
	width: 73px;
	height: 86px;
	margin: 0 auto;
	padding: 5px 0;
}

.sort_Item ul li p {
	padding: 0 0 6px 26px;
	border-right: 1px dashed #ccc;
}
/*左边漂浮*/
.leftSideBar {
	position: fixed;
	left: -80px;
	top: 20%;
	z-index: 999;
	display: none;
}
/*右边漂浮*/
.rightSideBar{
	position: fixed;
	right: -5px;
	top: 20%;
	z-index: 999;
	display: none;
}

/*商品列表导航栏*/
.nav_left{
	position: absolute;
    width: 235px;
    top:33px;
    left: 0;
    opacity: 0.9;
}
.list_group{
    width: 100%;

    position: relative;
    background-color: #090909;
}
.list_group a:hover{
	text-decoration: underline;
}
.list_group dl{
	width: 235px;
	margin: 0;
}
.list_group dt{
	width: 211px;
    color: #fff;
    margin-left: 24px;
    padding-bottom: 3px;
}
.list_group dt b a{
	color: #e4e4e4;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    text-decoration: none;
}
.list_group dl a{
	line-height: 20px;
    height: 20px;
    color: #9c9c9c;
    font-size: 12px;
    padding-right: 8px;
    display: inline-block;
    text-decoration: none;
}
.list_group dl dd{
    width: 200px;
    height: 466px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 235px;
    display: none;
    background: #fff;
    border: 1px solid #d2005c;
    opacity: 1;
}
.list_group dl dd i a{
    height: 37px;
    line-height: 48px;
    color: #090909;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
}
.list_group dl dd a{
	padding:0 8px;
    font-size: 12px;
    color: #999;
    font-family: 微软雅黑;
    height: 23px;
    line-height: 23px;
    display: inline-block;
}
