body {
	color: #555;
	font-size: 12px;
	font-family: "宋体";
	line-height: 22px;
	background: #cecccf;
}

.header {
	width: 1017px;
	height: 117px;
	margin: 0 auto;
}

.main {
	width: 1017px;
	height: 515px;
	margin: 0 auto;
	background: #FFFFFF;
}

.user_info_left {
	width: 505px;
	height: 508px;
	float: left;
}

.user_info_left img {
	margin: 23px 18px 20px 84px;
}

.loginbox {
	width: 400px;
	height: 400px;
	float: left;
	overflow: hidden;
	text-align: left;
	padding-top: 16px;
	border: 1px solid black;
}

.login-txt, .login-txt_2 {
    color: #9f9f9f;
    display: inline-block;
    width: 49%;
    text-align: center;
    font-size: 14px;
    padding-bottom: 15px;
    position: relative;
}
.loginbox .login_active {
    color: #000;
}
.login_bor_1 {
    width: 55px;
    height: 2px;
    background: black;
    position: absolute;
    display: inline-block;
    top: 36px;
    left: 71px;
}
.login_bor_2 {
    width: 72px;
    height: 2px;
    background: black;
    position: absolute;
    display: inline-block;
    top: 36px;
    left: 62px;
    display: none;
}
.login-header span {
    cursor: pointer;
}

.loginbox_content{
	padding: 27px 0 0 34px;
    border: 1px solid #dcdcdc;
    height: auto;
    width: 364px;
    position: relative;
}
#username,#userpsd{
	border: 1px solid #c9c9c9;
	border-radius:5px;
    width: 324px;
    height: 43px;
}
#loginbtn{
    width: 324px;
    height: 43px;
    overflow: hidden;
    color: #fff;
    border: 0;
    font: 15px/43px '微软雅黑';
    text-align: center;
    cursor: pointer;
    background: #e30165;
    display: block;
    line-height: 40px;
    margin-left: 2px;
    border-radius: 4px;
}
.loginother{
	padding-top: 30px;
	position: relative;
	width: 315px;
	height:20px;
	margin-left:5px ;
}
.forget_psd {
     float: left;
}
.login_reg {
    float: right;
    color: red;
}
.login_reg:hover{
	text-decoration: underline;
}
