@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	color: #555;
	font-size: 12px;
	font-family: "宋体";
	line-height: 22px;
	background: #fff;
}

.clear {
	clear: both;
}

img {
	border: 0;
}

a {
	color: #797979;
	text-decoration: none;
	font-size: 12px;
}

a:hover {
	color: #e50056;
}

ul,
li {
	list-style-type: none;
}

#content {
	width: 100%;
	background: #e4e4e4;
}

em,
i {
	font-style: normal;
}

.header_div {
	background: url(http://i1.mbscss.com/img/moonbasa/2013/09/07/bg1.jpg) repeat-x scroll 0 26px transparent;
	margin: 0 auto;
	width: 100%;
}

.header {
	width: 1200px;
	margin: 0 auto;
	height: 103px;
}

.header .logo a {
	display: block;
	width: 235px;
	height: 103px;
	float: left;
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914101003.jpg) no-repeat center top;
}

.header .logo img {
	display: block;
}

.header .practice {
	float: left;
	color: #e8e8e8;
}

.header .practice span {
	display: inline-block;
	line-height: 26px;
	padding: 0 10px 0 12px;
	color: #747474;
}

.header .search_keyw {
	width: 500px;
	float: left;
	padding: 31px 0 0 102px;
}

.header .search {
	float: left;
	width: 500px;
	position: relative;
	z-index: 1;
}

.header .search .fsearch {
	width: 540px;
	height: 35px;
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/bon/ssbg.jpg) no-repeat;
	float: left;
}

.header .search .fsearch input {
	background: 0;
	border: 0;
}

.header .search .fsearch input.sinp {
	float: left;
	width: 410px;
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
	margin: 2px 2px 0 0;
	color: #b9b9b9;
	text-indent: 7px;
}

.header .search .fsearch input.s {
	float: right;
	width: 83px;
	height: 32px;
	text-indent: -200px;
	cursor: pointer;
}

.topani {
	width: 207px;
	height: 68px;
	padding: 13px 28px 0 0;
	float: right;
}

.loginmax {
	width: 100%;
	height: 26px;
	background: #f6f6f6;
	border-bottom: 1px solid #ededed;
}

.loginbox {
	width: 1200px;
	margin: 0 auto;
}

.loginbox .loginboxleft {
	width: 212px;
	height: 26px;
	background: url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0825155236.jpg) no-repeat center top;
	float: left;
}

.loginbox .logininfo_outdiv {
	width: auto;
	height: 26px;
	position: relative;
	float: right;
	z-index: 11;
	padding-right: 0;
}

.loginbox .Collection {
	float: right;
	color: #666;
	text-align: right;
	padding-top: 2px;
}

.loginbox .Collection a {
	color: #666;
	padding: 0 8px;
}

.loginbox .Collection span {
	color: #d4d4d4;
}

.loginbox #logininfo a {
	float: right;
	color: #666;
	padding: 0 10px;
}

.loginbox #logininfo a:hover {
	color: #c20055;
}

.loginbox #logininfo span {
	float: right;
	color: #666;
}

.loginbox #logininfo {
	width: auto;
	float: right;
	height: 16px;
	padding: 5px 0;
	color: #666;
	line-height: 16px;
	text-align: right;
	_overflow: hidden;
}

.loginbox #logininfo .mymbs {
	display: inline;
	float: right;
	width: 80px;
	padding: 0 5px;
	position: relative;
	border: 1px solid #f6f6f6;
}

.loginbox #logininfo .mymbscss {
	background: #fff;
	border: 1px solid #a0a0a0;
}

.loginbox #logininfo .mymbs p {
	width: 88px;
	overflow: hidden;
	float: left;
}

.loginbox #logininfo .mymbscss a:hover {
	text-decoration: underline;
	color: #e50065;
}

.loginbox #logininfo .mymbs p img {
	float: left;
	cursor: pointer;
}

.loginbox #logininfo .mymbscss ul {
	margin: 4px 0 0 0;
	border-top: 1px dashed #e6e6e6;
	float: left;
	width: 80px;
	padding-left: 5px;
}

.loginbox #logininfo .mymbscss ul li {
	margin: 0;
	width: 80px;
	height: 22px;
	overflow: hidden;
	padding-left: 5px;
}

.loginbox #logininfo .mymbscss ul li a,
#logininfo .mymbscss ul li a:hover {
	margin: 0;
	clear: both;
	display: block;
	width: 60px;
	height: 22px;
	line-height: 22px;
	text-align: left;
	text-indent: 2px;
	padding: 0 10px;
}

.loginbox .helpmsg {
	float: right;
	padding-top: 2px;
}

.loginbox .helpmsg a {
	display: inline-block;
	color: #666;
	padding: 0 8px;
}

.loginbox .helpmsg a:hover {
	color: #e50056;
}

.loginbox .helpmsg a.weixin,
.loginbox .helpmsg a.weibo,
.helpmsg a.mobile,
.helpmsg a.yidong {
	position: relative;
}

.helpmsg a.mobile {
	padding-left: 14px;
	background: url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0831205002.jpg) no-repeat left 5px;
}

.loginbox .helpmsg a.mobile:hover {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0831205002hover.jpg) no-repeat left 5px;
}

.loginbox .helpmsg a.yidong {
	background-position: 10px -93px;
}

.loginbox .helpmsg a.weixin img,
.loginbox .helpmsg a.mobile img,
.loginbox .helpmsg a.weibo img {
	display: none;
	position: absolute;
	left: -60px;
	top: 20px;
}

.loginbox .helpmsg span {
	color: #d4d4d4;
}

.loginbox a:hover {
	color: #c20055;
}

.header .search_keyw .hot_keywords {
	width: 500px;
	height: 26px;
	color: #c3c3c3;
	overflow: hidden;
	line-height: 26px;
	padding-left: 7px;
}

.header .search_keyw .hot_keywords a {
	color: #9c9d9f;
	padding-left: 5px;
}

.header .search_keyw .hot_keywords a:hover {
	color: #e50056;
}

.header .search_keyw .hot_keywords p {
	float: left;
	color: #e3e3e3;
}

.header .search .hid {
	width: 498px;
	overflow: hidden;
	display: none;
	border: 1px solid #ddd;
	font-size: 12px;
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 32px;
	background: #fff;
}

.header .search .hid ul {
	float: left;
	overflow: hidden;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.header .search .hid b {
	font-weight: normal;
	height: 26px;
	line-height: 26px;
	float: right;
	padding: 0 3px;
	cursor: pointer;
	color: #000;
}

.header .search .hid ul li {
	line-height: 26px;
	padding-left: 5px;
	cursor: pointer;
	color: #333;
	overflow: hidden;
}

.header .search .hid ul li.on {
	background: #e3e3e3;
}

.header .search .hid ul li span.kskey {
	float: left;
}

.header .search .hid ul li span.ksfrequency {
	float: right;
	color: Green;
}

.header #divSiteMsg {
	overflow: hidden;
	position: absolute;
	right: 123px;
	top: 25px;
	width: 350px;
	display: none;
}

.hdKeyword {
	font-size: 12px;
	font-family: 宋体;
	color: #cbcbc9;
}

.menucon {
	width: 100%;
	background: #fff;
	min-width: 1200px;
}

.menucon .menu {
	width: 1200px;
	margin: auto;
	height: 29px;
}

.menu .topnav {
	float: left;
}

.menu .returnOld {
	float: left;
	padding-left: 20px;
	background: url(http://i2.mbscss.com/img/moonbasa/2014/02/25/return.jpg) no-repeat 0 13px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #fff;
	line-height: 34px;
	cursor: pointer;
}

.returnOld a {
	color: #fff;
}

.menu .topnav li {
	position: relative;
	float: left;
	height: 29px;
	text-align: center;
}

.menu .topnav li a {
	display: block;
	height: 29px;
	color: #000;
	font-size: 14px;
	font-family: 微软雅黑;
	padding: 0 25px 0 17px;
	line-height: 29px;
	letter-spacing: 1px;
	float: left;
	font-weight: bold;
}

.menu .topnav .syf {
	position: relative;
	float: left;
	height: 29px;
	text-align: left;
	text-indent: 41px;
	width: 94px;
}

.menu .topnav .syf a {
	display: block;
	height: 29px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #000;
	padding: 0;
	line-height: 29px;
	width: 94px;
	font-weight: bold;
	background: url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0825145216.gif) no-repeat 25px 9px;
}

.menu .topnav li a:hover,
.menu .topnav li a.on {
	color: #c20055;
}

.menu .topnav .syf a:hover {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0825145216hover.gif) no-repeat 25px 9px;
}

.menu .topnav .symmg a {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914112352.png) no-repeat 0 7px;
}

.menu .topnav .symmg a:hover {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914112352hover.png) no-repeat 0 7px;
}

.menu .topnav .sympg a {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914113418.png) no-repeat 0 7px;
}

.menu .topnav .sympg a:hover {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914113418hover.png) no-repeat 0 7px;
}

.menu .topnav .sysjsg a {
	padding-left: 27px;
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914113715.png) no-repeat 0 9px;
}

.menu .topnav .sysjsg a:hover {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914113715hover.png) no-repeat 0 9px;
}

.menu .topnav .symzsq a {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914114018.png) no-repeat 0 9px;
}

.menu .topnav .symzsq a:hover {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914114018hover.png) no-repeat 0 9px;
}

.menu .topnav li a i {
	display: block;
	width: 164px;
	height: 22px;
	line-height: 22px;
	border-right: 1px solid #d1005b;
}

.menu .topnav li a:hover i,
.menu .topnav li a.on i {
	border-right: 1px solid #a60040;
}

.menu .topnav_right {
	float: right;
}

.menu .topnav_right li {
	position: relative;
	float: left;
	height: 29px;
	text-align: center;
}

.menu .topnav_right li .topnavhot {
	position: absolute;
	top: 0;
	left: 48px;
}

.menu .topnav_right li a {
	display: block;
	height: 29px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #000;
	padding: 0 25px 0 0;
	line-height: 29px;
	font-weight: bold;
	letter-spacing: 1px;
	float: left;
}

.menu .topnav_right .rmgg {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0901111554.png) no-repeat 0 10px;
}

.menu .topnav_right .rycg {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0901111554.png) no-repeat 0 -25px;
}

.menu .topnav_right .rycg a {
	padding-left: 27px;
}

.menu .topnav_right .rqqg {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0901111554.png) no-repeat 0 -60px;
}

.menu .topnav_right .rtttg {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0901111554.png) no-repeat 0 -95px;
}

.menu .topnav_right .rpptm {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0901111554.png) no-repeat 0 -130px;
}

.menu .topnav_right .rmz {
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0901111554.png) no-repeat 0 -165px;
}

.menu .topnav_right li a:hover,
.menu .topnav_right li a.on {
	color: #c20055;
}

.menu .topnav_right li a i {
	display: block;
	width: 164px;
	height: 22px;
	line-height: 22px;
	border-right: 1px solid #d1005b;
}

.menu .topnav_right li a:hover i,
.menu .topnav_right li a.on i {
	border-right: 1px solid #a60040;
}

.menu .topnav_right li .subnav_top {
	width: 215px;
	display: none;
	height: 35px;
	position: absolute;
	left: 0;
	top: 34px;
	backgrond: #fff;
	border: 1px solid #F09;
}

.menu .topnav .subnav_top ul {
	line-height: 35px;
	margin-left: 0;
	overflow: hidden;
	padding: 0 0 0 12px;
	width: 100%;
}

.menu .topnav .subnav_top ul li .navlist_top_con a {
	color: #000;
	font-size: 12px;
	height: 27px;
	line-height: 27px;
	padding: 0 6px;
	white-space: nowrap;
}

.menu .topnav .subnav_top ul li .navlist_top_con a:hover {
	color: #F09;
}

.top_cart {
	width: 98px;
	height: 26px;
	float: left;
	position: relative;
	display: inline;
	background: #f6f6f6;
}

.cart {
	height: 26px;
	width: 98px;
	line-height: 26px;
	background: #f6f6f6 url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0826151452.jpg) no-repeat 54px 0;
	float: right;
}

.cart .cart_bg {
	float: left;
	font-size: 12px;
	font-family: 宋体;
	color: #666;
	line-height: 26px;
	text-indent: 10px;
}

#CartCount {
	clear: both;
	background: url(http://i1.mbscss.com/img/moonbasa/2013/09/07/g.png) no-repeat;
	width: 17px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -6px;
	left: 35px;
	font-size: 12px;
	display: none;
}

* html #CartCount {
	background: 0;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://i1.mbscss.com/img/moonbasa/2013/09/07/g.png');
}

.Car {
	position: relative;
	float: right;
	z-index: 10;
	padding-right: 17px;
}

.cart_none,
.cart_list {
	width: 358px;
	border: solid 1px #f2f2f2;
	background: #FFF;
	position: absolute;
	right: 17px;
	top: 27px;
	display: none;
}

.cart_none {
	padding: 45px 0;
	text-align: center;
}

.cart_list ul {
	margin: 0 1px;
	max-height: 420px;
	overflow-y: auto;
	padding-top: 6px;
	position: relative;
}

.cart_list ul li {
	border-bottom: 1px solid #f3f3f3;
	height: 55px;
	padding: 7px 10px;
	position: relative;
	z-index: 999;
}

.cart_list ul li a.pro_img {
	border: 1px solid #e4e4e4;
	float: left;
	height: 55px;
	margin-right: 5px;
	width: 40px;
}

.cart_list ul li a.pro_name {
	float: left;
	height: 55px;
	line-height: 20px;
	overflow: hidden;
	width: 130px;
	color: #4c4c4c;
}

.cart_list ul li .pro_price {
	color: #ff0e52;
	float: left;
	display: inline;
	font-weight: bold;
	height: 40px;
	line-height: 20px;
	margin-left: 10px;
	margin-right: 6px;
	overflow: hidden;
	width: 70px;
	font-family: Arial;
}

.plus,
.minusDisable {
	border: 0 none;
	cursor: pointer;
	display: inline-block;
	height: 13px;
	margin-top: 3px;
	vertical-align: middle;
	width: 13px;
	display: none;
}

.plus {
	background: url(http://i1.mbscss.com/img/moonbasa/2013/09/07/p.jpg) no-repeat;
	margin-left: 3px;
}

.minusDisable {
	background: url(http://i1.mbscss.com/img/moonbasa/2013/09/07/j.jpg) no-repeat;
	margin-right: 3px;
}

.num_box .minicart_num {
	color: #262626;
	float: left;
	text-align: center;
	width: 28px;
}

.cart_list .num_box a {
	line-height: 20px;
	float: right;
	cursor: pointer;
}

.cart_list .num_box {
	display: block;
	float: left;
	text-align: center;
	width: 65px;
	overflow: hidden;
}

.cart_list .checkout_box {
	background: #f2f2f2;
	padding: 7px 5px 11px 16px;
	position: relative;
	text-align: right;
	width: 337px;
}

.fl {
	float: left;
}

.cart_list .checkout_box strong {
	color: #e50065;
	font-family: Arial;
}

.cart_list .checkout_box .checkout_btn {
	background: #e50065;
	width: 74px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	display: inline-block;
}

.menu .nav {
	width: 235px;
	float: left;
	position: relative;
	z-index: 3;
}

.menu .nav .Classification a {
	display: block;
	width: 235px;
	height: 29px;
	color: #fffeff;
	font-size: 14px;
	font-family: 微软雅黑;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	background: #e50163;
}

.nav .nav_left {
	position: absolute;
	width: 235px;
	top: 29px;
	left: 0;
	opacity: .97;
}

.cata-group {
	width: 100%;
	position: relative;
	height: 466px;
	padding-top: 8px;
	background-color: #090909;
}

.cata-group dl.cata-group-btn {
	width: 235px;
	background-color: #090909;
}

.cata-group dl.over-group {
	background: #d2005c;
}

.cata-group dl.over-group dt .fsbox a {
	color: #f2c7c9;
}

.cata-group dl.nrigth {
	background-color: #090909;
}

.cata-group dl.nrigth dt {
	border-bottom-color: #2e2e2e;
}

.cata-group dl.nrigth dt .fsbox a {
	color: #9c9c9c;
}

.cata-group dl dt {
	width: 211px;
	color: #fff;
	font-family: 微软雅黑;
	margin-left: 24px;
	padding-bottom: 9px;
}

.cata-group dl dt b {
	color: #d7d7d7;
	height: 30px;
	width: 211px;
	float: left;
}

.cata-group dl dt b span {
	float: left;
}

.cata-group dl dt b span font {
	margin: 0 2px;
}

.cata-group dl dt .fsbox a {
	line-height: 20px;
	height: 20px;
	color: #9c9c9c;
	font-size: 12px;
	padding-right: 8px;
	display: inline-block;
}

.cata-group dl dt .fsbox a:hover {
	text-decoration: underline;
}

.cata-group dl dt.last {
	border-bottom: 0;
	height: 49px;
}

.cata-group dl dt a.title {
	font-size: 13px;
	font-family: "微软雅黑";
	color: #d7d7d7;
	line-height: 38px;
	text-decoration: none;
}

.cata-group dl dt p a {
	display: inline-block;
	padding-right: 14px;
	color: #666;
	line-height: 17px;
}

.cata-group dl dt p a:hover {
	text-decoration: underline;
}

.cata-group dl dt p a.red {
	color: #a02041;
}

.cata-group dl dd {
	width: 199px;
	height: 472px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 235px;
	display: none;
	background: #fff;
	border: 1px solid #d2005c;
	opacity: 1;
	filter: alpha(opacity=100);
}

.cata-group dl dd.chide {
	width: 0;
	height: 0;
	border: 0;
}

.cata-group dl dd .rtbox {
	padding: 0 0 0 20px;
	position: relative;
}

.cata-group dl dd .rtjt {
	cursor: pointer;
	position: absolute;
	top: 11px;
	right: 0;
}

.cata-group dl dd .rtbox_s {
	margin-bottom: 6px;
}

.cata-group dl dd .rtbox_s span {
	display: block;
	width: 152px;
}

.cata-group dl dd .rtbox_s b a {
	display: block;
	height: 37px;
	line-height: 48px;
	color: #090909;
	font-size: 13px;
}

.cata-group dl dd .rtbox_s div a {
	display: block;
}

.cata-group dl dd .rtbox_s span a {
	padding-right: 8px;
	font-size: 12px;
	color: #999;
	font-family: 微软雅黑;
	height: 23px;
	line-height: 23px;
	display: inline-block;
}

.cata-group dl dd .rtbox_s span a:hover {
	text-decoration: underline;
}

.cata-group dl.over-group dt p a,
cata-group dl.over-group dt p a.red,
.cata-group dl.over-group dt a.title {
	color: #fce6f0;
}

.cata-group dl.over-group dd {
	display: block;
	background: #fff;
}

.cata-group dl dd .hotbrand {
	width: 248px;
	overflow: hidden;
}

.cata-group dl dd .hotbrand ul {
	overflow: hidden;
}

.cata-group dl dd .hotbrand ul li {
	float: left;
	width: 248px;
	overflow: hidden;
}

.cata-group dl dd .hotbrand ul li a {
	float: left;
	width: 118px;
	height: 78px;
	margin: 0 6px 6px 0;
}

.cata-group dl dd .circleBtn,
.cata-group dl dd .womenCloth {
	width: 40px;
	margin: 0 auto;
}

.cata-group dl dd.hotbrand .circleBtn {
	padding-top: 80px;
}

.cata-group dl dd .circleBtn span,
.cata-group dl dd .womenCloth span {
	font-size: 30px;
	color: #d7d7d7;
	cursor: pointer;
}

.cata-group dl dd .circleBtn span.on {
	color: #e60063;
}

.cata-group dl dd .smallTeam {
	width: 359px;
	margin: 0 auto 40px;
}

.cata-group dl dd .smallTeam span {
	width: 127px;
	height: 41px;
	border-bottom: 1px dotted #d8d8d8;
	line-height: 41px;
	text-align: left;
	font-family: 宋体;
	font-size: 12px;
	color: #484849;
	display: block;
	text-indent: 13px;
}

.cata-group dl dd .smallTeam span.last_one {
	border: 0;
	height: 48px;
	line-height: 48px;
}

.cata-group dl dd .smallTeam_mp {
	width: 127px;
}

.cata-group dl dd .smallTeam_mp span {
	width: 127px;
	height: 38px;
	border-bottom: 1px dotted #d8d8d8;
	line-height: 38px;
	text-align: center;
	font-family: 宋体;
	font-size: 14px;
	color: #484849;
	display: block;
}

.cata-group dl dd .smallTeam_mp span.last_one {
	border: 0;
}

.cata-group dl dd .smallTeam_mp span a {
	font-family: 宋体;
	font-size: 14px;
	color: #484849;
}

.cata-group dl dd .smallTeam strong {
	display: block;
	color: #414141;
	font-size: 14px;
	line-height: 28px;
	border-bottom: 1px solid #414141;
	padding-top: 20px;
}

.smallTeam strong a {
	color: #01060b;
	font-size: 12px;
	font-family: 宋体;
	font-weight: bold;
}

.cata-group dl dd .smallTeam p {
	color: #eaeaea;
	border-bottom: 1px dotted #d8d8d8;
	padding: 10px 0;
}

.cata-group dl dd .smallTeam p.last_one {
	border: 0;
}

.cata-group dl dd .smallTeam p a {
	display: inline-block;
	padding: 0 5px;
	color: #656565;
}

.cata-group dl dd .smallTeam p a.one {
	color: #e50065;
	font-weight: bold;
}

.cata-group dl dd .smallTeam p a.red,
.cata-group dl dd .smallTeam p a:hover,
.cata-group dl dd .smallTeam span a:hover,
.cata-group dl dd .smallTeam_mp span a:hover {
	color: #e50065;
}

.cata-group dl dd .mpCloth {
	width: 79px;
	overflow: hidden;
	margin: 0 auto;
	height: 170px;
	padding-top: 10px;
}

.cata-group dl dd .mpCloth .f_perv {
	width: 11px;
	height: 17px;
	cursor: pointer;
	margin: 0 auto;
	padding-bottom: 3px;
}

.cata-group dl dd .mpCloth .f_next {
	width: 11px;
	height: 17px;
	cursor: pointer;
	margin: 0 auto;
}

.cata-group dl dd .mpCloth ul {
	overflow: hidden;
	float: left;
}

.cata-group dl dd .mpCloth ul li {
	float: left;
	width: 79px;
	height: 137px;
}

.cata-group dl dd .mpCloth ul li span {
	width: 79px;
	display: block;
	padding-bottom: 7px;
}

.cata-group dl dd .womenCloth {
	width: 372px;
	overflow: hidden;
	margin: 0 auto;
	height: 59px;
}

.cata-group dl dd .womenCloth .f_perv {
	width: 11px;
	height: 17px;
	float: left;
	cursor: pointer;
	padding-right: 8px;
	padding-top: 13px;
}

.cata-group dl dd .womenCloth .f_next {
	width: 11px;
	height: 17px;
	float: right;
	cursor: pointer;
	padding-top: 13px;
}

.cata-group dl dd .womenCloth ul {
	overflow: hidden;
	float: left;
	height: 59px;
}

.cata-group dl dd .womenCloth ul li {
	float: left;
	width: 340px;
	height: 59px;
}

.cata-group dl dd .womenCloth ul li span {
	width: 79px;
	padding-right: 6px;
	float: left;
	display: block;
	font-size: 12px;
	color: #8e8e8e;
	text-align: center;
}

.cata-group dl dd .womenCloth .circleBtn {
	padding-top: 10px;
}

.mbs-slide {
	height: 430px;
	overflow: hidden;
	position: relative;
	z-index: 0;
	min-width: 1200px;
}

.mbs-slide .mbsslide-nav {
	position: absolute;
	bottom: 26px;
	padding: 0;
	z-index: 11;
	left: 50%;
	width: 176px;
	margin-left: 425px;
	height: 16px;
}

.mbs-slide .mbsslide-nav ul {
	float: right;
	overflow: hidden;
}

.mbs-slide .mbsslide-con {
	position: relative;
	margin: auto;
	width: 100%;
	height: 430px;
	overflow: hidden;
}

.mbs-slide .mbsslide-con li {
	width: 100%;
	height: 100%;
}

.mbs-slide .mbsslide-con li.aaa {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transition: transform 4s linear;
	-webkit-transition: -webkit-transform 4s linear;
	-moz-transition: -moz-transform 4s linear;
	-o-transition: -o-transform 4s linear;
}

.mbs-slide .mbsslide-con a {
	margin: auto;
	display: block;
	width: 100%;
	overflow: hidden;
}

.mbs-slide .mbsslide-con a img {
	margin: 0 auto;
	display: block;
	width: 1200px;
}

.mbs-slide .mbsslide-nav li {
	float: left;
	width: 13px;
	height: 20px;
	overflow: hidden;
	cursor: pointer;
	background: url(http://i1.mbscss.com/img/moonbasa/2014/05/biao/05/01.png) no-repeat;
	cursor: pointer;
	margin-right: 5px;
	line-height: 19px;
	text-align: left;
	padding-left: 7px;
}

* html .mbs-slide .mbsslide-nav li {
	background: 0;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://i1.mbscss.com/img/moonbasa/2014/05/biao/05/01.png');
}

.mbs-slide .mbsslide-nav li.sh {
	background: url(http://i1.mbscss.com/img/moonbasa/2014/05/biao/05/002.png) no-repeat;
	color: #fff;
}

* html .mbs-slide .mbsslide-nav li.sh {
	background: 0;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://i1.mbscss.com/img/moonbasa/2014/05/biao/05/002.png');
}

.midd {
	width: 100%;
	background: #e4e4e4;
}

.maxbox {
	width: 100%;
	background: #e4e4e4;
}

.bigbox {
	width: 1200px;
	margin: 0 auto;
}

.recommended_brand {
	width: 950px;
	height: 324px;
	background: #e4e4e4;
	margin-left: 250px;
	padding: 0 0 10px 0;
}

.recommended_brand .recommended_brandtop {
	position: relative;
	height: 54px;
}

.recommended_brand .recommended_brandtop span {
	font-size: 14px;
	color: #000;
	height: 24px;
	line-height: 24px;
	padding: 20px 0 0 26px;
	float: left;
}

.recommended_brand .recommended_brandtop .cjlist {
	float: left;
	margin: 20px 0 0 0;
	padding: 0;
	padding-right: 237px;
}

.recommended_brand .recommended_brandtop .cjlist li {
	text-align: center;
	padding: 4px 0;
	width: 101px;
	height: 14px;
	line-height: 24px;
	float: left;
	list-style: none;
	margin-right: 10px;
	border: 1px solid #bbb;
	background: #fff;
	font: 12px "宋体";
	color: #666;
	position: relative;
}

.recommended_brand .recommended_brandtop .cjlist li:hover {
	background: #141414;
	border-color: #141414;
	color: #fff;
}

.recommended_brand .recommended_brandtop .cjlist li.first {
	background: #141414;
	border-color: #141414;
	color: #fff;
}

.recommended_brand .recommended_brandtop .cjlist li.first .cjlistbg {
	display: block;
}

.recommended_brand .recommended_brandtop .cjlist li .cjlistbg {
	display: none;
	width: 9px;
	height: 5px;
	background: url(http://i3.mbscss.com/img/moonbasa/2015/09/lyz/0914160309.png) no-repeat center top;
	position: absolute;
	top: 23px;
	*top: 22px;
	left: 46px;
}

.recommended_brand .recommended_brandtop .cjlist li:hover .cjlistbg {
	display: block;
}

.recommended_brand .recommended_brandtop span.recommended_brandrd {
	float: left;
	width: 10px;
	height: 24px;
	background: url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0821100658.jpg) no-repeat left -3px;
	padding: 0 0 0 47px;
	color: #c9c9c9;
	margin-top: 20px;
}

.recommended_brandgd {
	position: relative;
	width: 202px;
	height: 24px;
	overflow: hidden;
	background: #e4e4e4;
	float: left;
	margin: 19px 0 0 0;
}

.recommended_brandgd .gdbig {
	width: 200px;
	position: absolute;
	top: 0;
	left: 2px;
	height: auto;
}

.recommended_brandgd .gdbig p {
	padding: 0;
	margin: 0;
}

.recommended_brandgd .gdbig p a {
	text-decoration: none;
	font: 12px "宋体";
	color: #323232;
	display: block;
	line-height: 24px;
}

.recommended_brand .recommended_brandnr {
	width: 950px;
	height: 262px;
	overflow: hidden;
	background: #fff;
}

.recommended_brand .recommended_brandnr .recommended_brandnrbox {
	width: 950px;
	height: 262px;
	overflow: hidden;
}

.recommended_brandnrbox1 {
	background: #fff url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0821165047.png) no-repeat center top;
}

.recommended_brandnrbox3 {
	background: #fff url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0828135926.png) no-repeat center top;
}

.recommended_brandnrbox2 ul li {
	border-left: 2px solid #e4e4e4;
	padding-left: 10px;
	width: 108px;
	height: 262px;
	float: left;
}

.recommended_brandnrbox .nrleft {
	float: left;
}

.recommended_brandnrbox .nrmd {
	width: 388px;
	float: left;
	padding-left: 2px;
}

.recommended_brandnrbox .nrmd ul,
.recommended_brandnrbox .nrmd li {
	padding: 0;
	margin: 0;
}

.recommended_brandnrbox .nrmd li {
	width: 110px;
	height: 130px;
	float: left;
	list-style: none;
	padding-left: 18px;
	padding-bottom: 2px;
}

.recommended_brandnrbox1 .nrright {
	width: 128px;
	float: left;
	padding-left: 2px;
}

.recommended_brandnrbox3 .nrright {
	width: 518px;
	float: left;
	padding-left: 2px;
}

.recommended_brandnrbox .nrright ul,
.recommended_brandnrbox .nrright li {
	padding: 0;
	margin: 0;
}

.recommended_brandnrbox .nrright li {
	width: 118px;
	height: 64px;
	float: left;
	list-style: none;
	padding-left: 12px;
	padding-bottom: 2px;
}

.recommended_brandnrbox .nrright li.nrrightfirst {
	padding-left: 10px;
}

.recommended_brandnrbox img {
	display: block;
}

.recommended_brandnrbox .nrmd li img,
.recommended_brandnrbox .nrright li img,
.recommended_brandnrbox2 ul li img {
	-webkit-transition: transform .2s linear 0s;
	-moz-transition: transform .2s linear 0s;
	-ms-transition: transform .2s linear 0s;
	-o-transition: transform .2s linear 0s;
	transition: transform .2s linear 0s;
}

.recommended_brandnrbox .nrmd li img:hover,
.recommended_brandnrbox .nrright li img:hover,
.recommended_brandnrbox2 ul li img:hover {
	-webkit-transform: translateX(-5px);
	-moz-transform: translateX(-5px);
	-ms-transform: translateX(-5px);
	-o-transform: translateX(-5px);
	transform: translateX(-5px);
}

.rmpp {
	width: 1200px;
	margin: 0 auto;
	padding-top: 28px;
	overflow: hidden;
}

.rmpp h2 {
	font-size: 16px;
	padding-left: 30px;
	color: #333;
	padding-bottom: 16px;
}

.rmpp h2 font {
	font-size: 14px;
	color: #888;
	font-family: Arial;
	padding-left: 10px;
}

.rmpp .rmpp_l {
	width: 934px;
	overflow: hidden;
	float: left;
}

.rmpp .rmpp_r {
	width: 266px;
	float: left;
}

.rmpp .rmpp_l span.recommended_brand {
	float: left;
	display: block;
	padding: 0 2px 2px 0;
	border: 0;
}

.rmpp .rmpp_l span.pptm {
	float: left;
	display: block;
	padding: 0 2px 2px 0;
	border: 0;
}

.rmpp .rmpp_l span {
	float: left;
	display: block;
	padding: 0 2px 2px 0;
}

.rmpp .rmpp_l span a {
	display: block;
	border: 1px solid #fff;
}

.rmpp .rmpp_l span a:hover {
	border: 1px solid #f12779;
	display: block;
}

.rmhd {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 28px;
}

.rmhd h2 {
	font-size: 16px;
	color: #333;
	padding-left: 30px;
	border-bottom: 2px solid #000;
	padding-bottom: 5px;
}

.rmhd h2 font {
	font-size: 14px;
	color: #888;
	font-family: Arial;
	padding-left: 10px;
}

.rmhd ul {
	width: 1212px;
	padding-top: 11px;
}

.rmhd ul li {
	width: 291px;
	height: 396px;
	float: left;
	padding-right: 12px;
}

.mptm {
	width: 1200px;
	margin: 0 auto;
	padding-top: 28px;
	overflow: hidden;
}

.mptm h2 {
	font-size: 16px;
	color: #333;
	padding-left: 30px;
	border-bottom: 2px solid #000;
	padding-bottom: 5px;
	margin-bottom: 11px;
}

.mptm h2 font {
	font-size: 14px;
	color: #888;
	font-family: Arial;
	padding-left: 10px;
}

.mptm .mptm_l {
	width: 290px;
	overflow: hidden;
	float: left;
	padding-right: 13px;
}

.mptm .mptm_l .mptm_l1 {
	width: 290px;
	float: left;
}

.mptm .mptm_l .mptm_l1 ul {
	width: 292px;
}

.mptm .mptm_l .mptm_l1 ul li {
	width: 96px;
	height: 43px;
	padding: 0 1px 1px 0;
	float: left;
	text-align: center;
	color: #333;
	display: block;
}

.mptm .mptm_l .mptm_l1 ul li a {
	font-size: 12px;
	color: #333;
	display: block;
	width: 96px;
	height: 43px;
	background-color: #ebebeb;
	line-height: 43px;
}

.mptm .mptm_l .mptm_l1 ul li a:hover {
	background-color: #ff425d;
	color: #fff;
}

.mptm .mptm_l .mptm_l2 {
	width: 290px;
	background: url(http://i0.mbscss.com/img/moonbasa/2014/11/biao/20/1535.jpg) repeat-y center 0;
	overflow: hidden;
	float: left;
	margin-top: 2px;
}

.mptm .mptm_l .mptm_l2 ul {
	width: 290px;
}

.mptm .mptm_l .mptm_l2 ul li {
	padding: 0 24px;
	float: left;
}

.mptm .mptm_l .mptm_l2 ul li a {
	width: 95px;
	height: 59px;
	border: 1px solid #fff;
	display: block;
}

.mptm .mptm_l .mptm_l2 ul li a:hover {
	border: 1px solid #ff425d;
}

.mptm .mptm_l .mptm_l3 {
	width: 290px;
	float: left;
	padding-top: 5px;
}

.mptm .mptm_l .mptm_l3 a {
	width: 288px;
	height: 218px;
	border: 1px solid #fff;
	display: block;
}

.mptm .mptm_l .mptm_l3 a:hover {
	border: 1px solid #ff425d;
}

.mptm .mptm_m {
	width: 443px;
	position: relative;
	height: 498px;
	float: left;
	padding-right: 12px;
}

.mptm .mptm_m a {
	width: 441px;
	height: 496px;
	display: block;
	border: 1px solid #fff;
}

.mptm .mptm_m a:hover {
	border: 1px solid #ff425d;
}

.mptm .mptm_m .Bbanner {
	position: absolute;
	bottom: 52px;
	left: 20px;
	font-size: 12px;
	color: #000;
}

.mptm .mptm_r {
	width: 442px;
	height: 498px;
	float: left;
}

.mptm .mptm_r .mptm_r1 {
	width: 442px;
	height: 233px;
	position: relative;
	margin-bottom: 32px;
}

.mptm .mptm_r .mptm_r1 a {
	width: 440px;
	height: 231;
	display: block;
	border: 1px solid #fff;
}

.mptm .mptm_r .mptm_r1 a:hover {
	border: 1px solid #ff425d;
}

.mptm .mptm_r .mptm_r1 .Bbanner {
	position: absolute;
	bottom: 52px;
	left: 20px;
	font-size: 12px;
	color: #000;
}

.mptm .mptm_r .mptm_r2 {
	width: 442px;
	height: 233px;
	position: relative;
}

.mptm .mptm_r .mptm_r2 a {
	width: 440px;
	height: 231;
	display: block;
	border: 1px solid #fff;
}

.mptm .mptm_r .mptm_r2 a:hover {
	border: 1px solid #ff425d;
}

.mptm .mptm_r .mptm_r2 .Bbanner {
	position: absolute;
	bottom: 52px;
	left: 20px;
	font-size: 12px;
	color: #000;
}

.brandls {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 25px;
}

.brandls ul {
	width: 1212px;
}

.brandls ul li {
	float: left;
	padding: 0 12px 10px 0;
}

.brandAd a {
	margin-bottom: 24px;
}

.brandAd_f {
	width: 1200px;
	margin: 0 auto;
}

.brandAd_f a {
	border: 0;
	width: 1200px;
	height: 227px;
	margin-right: 0;
}

.brandAd_f a img {
	height: 227px;
}

.Abanner {
	position: absolute;
	font-size: 16px;
	left: 758px;
	top: 175px;
}

.Bbanner {
	position: absolute;
	font-size: 12px;
	left: 20px;
	bottom: 18px;
}

.Bbanner_1 {
	position: absolute;
	font-size: 12px;
	left: 318px;
	bottom: 47px;
}

.daojishi {
	width: 594px;
	height: 240px;
	overflow: hidden;
	position: relative;
	float: left;
}

.daojishi a {
	width: 592;
	height: 238px;
	display: block;
	border: 1px solid #ebebeb;
}

.daojishi a:hover {
	border: 1px solid #ff425d;
}

.daojishi_1 {
	width: 474px;
	height: 260px;
	overflow: hidden;
	position: relative;
	float: left;
}

.jiathis_style .separator,
.jiathis_style .jiathis_separator {
	display: block;
	float: left;
	line-height: 16px!important;
	margin: 0;
}

.jiathis_style .jiathis_tp a span {
	width: 0;
}

.recordBrand a img {
	width: auto;
}

.intr {
	width: 949px;
	margin: 8px auto 0;
	padding-left: 254px;
	overflow: hidden;
	font-family: 'Microsoft Yahei';
}

.intr h3 {
	width: 100%;
	overflow: hidden;
	font-weight: normal;
	font-size: 14px;
}

.intr h3 span {
	float: left;
	width: 316px;
	padding-bottom: 10px;
	text-align: center;
	color: #000;
	border-bottom: 2px solid #000;
	cursor: pointer;
}

.intr h3 span i {
	display: inline-block;
	padding-right: 10px;
}

.intr h3 span.select {
	color: #e60166;
	border-bottom: 2px solid #e81974;
}

.intr h3 span.select i {
	background: url(http://i2.mbscss.com/img/moonbasa/2014/02/25/rightIc.jpg) no-repeat right 7px;
}

.intr .intr_ul2 ul {
	width: 949px;
	padding-top: 12px;
	overflow: hidden;
}

.intr .intr_ul2 ul li {
	float: left;
	margin-right: 11px;
}

.intr .intr_ul2 ul li a {
	display: block;
	width: 309px;
	position: relative;
}

.intr .intr_ul2 ul li a i {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 309px;
	height: 39px;
	background: #000;
	opacity: .8;
	filter: alpha(opacity=80);
	z-index: 0;
}

.intr .intr_ul2 ul li a p {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 309px;
	height: 39px;
	line-height: 39px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	z-index: 1;
}

.intr .intr_ul2 ul li a p em {
	display: inline-block;
	padding-left: 10px;
}

.intr .intr_ul2 ul li a p em.red {
	color: #e70065;
}

.intr .intr_ul2 ul li a img {
	display: block;
	width: 309px;
	height: 326px;
}

.intr .intr_ul2 ul li.last {
	margin-right: 0;
}

.recordBrand {
	width: 1200px;
	overflow: hidden;
	border: 2px solid #000;
	border-left: 0;
	border-right: 0;
	background: #fff;
	margin: 26px auto 0;
}

.recordBrand a {
	float: left;
}

.recordBrand a img {
	display: block;
	width: 150px;
}

.brandAd {
	width: 1200px;
	margin: 25px auto 0;
	overflow: hidden;
}

.brandAd a {
	float: left;
	width: 586px;
	height: 274px;
	margin-right: 24px;
	border: 1px solid #e5e3e4;
	position: relative;
}

.brandAd a.last {
	margin-right: 0;
}

.brandAd a img {
	display: block;
	586px;
	height: 274px;
}

.preferent {
	width: 1200px;
	margin: 52px auto 0;
}

.preferent .prefect {
	width: 1198px;
	border: 1px solid #e5e3e4;
	overflow: hidden;
}

.preferent .prefect span {
	float: left;
	width: 599px;
	cursor: pointer;
	line-height: 33px;
	text-align: center;
	font: normal 16px/33px 'Microsoft Yahei';
	color: #333;
}

.preferent .prefect span.select {
	background: #e50065;
	color: #fff;
}

.pref_list ul {
	width: 1200px;
	overflow: hidden;
}

.pref_list ul li {
	width: 1212px;
	overflow: hidden;
	margin-left: -12px;
}

.pref_list ul li dl {
	float: left;
	width: 391px;
	display: inline;
	margin-left: 13px;
	padding-top: 8px;
}

.pref_list ul li dl dt {
	width: 100%;
	position: relative;
}

.pref_list ul li dl dt a img {
	display: block;
	width: 391px;
	hegiht: 346px;
}

.pref_list ul li dl dt span {
	display: none;
	position: absolute;
	top: 10px;
	right: 6px;
	width: 79px;
	height: 25px;
	background: url(http://i2.mbscss.com/img/moonbasa/2014/02/25/carBg.png) no-repeat;
	text-align: center;
	line-height: 25px;
	color: #fff;
	cursor: pointer;
}

.pref_list ul li dl.select dt span {
	display: block;
}

* html .pref_list ul li dl dt span {
	background: 0;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://i2.mbscss.com/img/moonbasa/2014/02/25/carBg.png');
}

.pref_list ul li dl dt i {
	display: block;
	position: absolute;
	bottom: -29px;
	right: 60px;
	width: 40px;
	height: 32px;
	background: url(http://i2.mbscss.com/img/moonbasa/2014/02/25/icon_red.png) no-repeat;
	text-align: center;
	line-height: 24px;
	color: #fff;
}

* html .pref_list ul li dl dt i {
	background: 0;
	progid: DXImageTransform . Microsoft . AlphaImageLoader(src='http://i2.mbscss.com/img/moonbasa/2014/02/25/icon_red.png');
}

.pref_list ul li dl dd {
	width: 389px;
	border: 1px solid #e5e3e4;
	border-top: 0;
}

.pref_list ul li dl dd p.detil {
	width: 358px;
	margin: 0 auto;
	height: 37px;
	overflow: hidden;
	line-height: 37px;
	color: #666;
	border-bottom: 1px dashed #d9d9d9;
}

.pref_list ul li dl dd p.price {
	width: 358px;
	overflow: hidden;
	margin: 0 auto;
	padding: 15px 0;
}

.pref_list ul li dl dd p.price i,
.pref_list ul li dl dd p.price span,
.pref_list ul li dl dd p.price del {
	float: left;
	color: #d90077;
	font-family: 'arial';
}

.pref_list ul li dl dd p.price i {
	padding-top: 2px;
	font-size: 18px;
}

.pref_list ul li dl dd p.price span {
	font-size: 28px;
	font-weight: bold;
}

.pref_list ul li dl dd p.price del {
	font-size: 14px;
	color: #9b9b9b;
	padding: 4px 0 0 7px;
}

.pref_list ul li dl dd p.price a {
	float: right;
	width: 123px;
	height: 30px;
	background: #e50065;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.pref_list ul li dl dd .timerPerson {
	width: 355;
	height: 24px;
	line-height: 24px;
	background: #f5f5f5;
	padding-left: 5px;
}

.pref_list ul li dl dd .timerPerson span {
	float: left;
	color: #757575;
}

.pref_list ul li dl dd .timerPerson span b {
	font-weight: normal;
	display: inline-block;
	padding-left: 10px;
	color: #000;
}

.pref_list ul li dl dd .timerPerson em {
	float: right;
	padding-right: 15px;
}

.pref_list ul li dl dd .timerPerson em font {
	font-size: 12px;
	color: #d90077;
	font-weight: bold;
}

.woman_list ul li dl {
	width: 289px;
}

.woman_list ul li dl dt a img {
	width: 289px;
	height: 346px;
}

.woman_list ul li dl dd {
	width: 287px;
}

.woman_list ul li dl dd p.detil,
.woman_list ul li dl dd p.price {
	width: 268px;
}

.woman_list ul li dl dt i {
	right: 30px;
}

.woman_list ul li dl dd p.price a {
	width: 83px;
}

.woman_list ul li dl dd .timerPerson em font {
	color: #ff415d;
}

.newDay {
	width: 1200px;
	margin: 55px auto 0;
	overflow: hidden;
}

.newDay .new_ul1 {
	width: 1200px;
	overflow: hidden;
	cursor: pointer;
}

.newDay .new_ul1 span {
	float: left;
	width: 346px;
	height: 36px;
}

.newDay .new_ul1 .gengduo {
	float: left;
	width: 162px;
}

.newDay .newGoods ul li {
	padding-top: 5px;
}

.newDay .newGoods ul li a {
	float: left;
}

.newDay ul {
	width: 1200px;
	overflow: hidden;
	display: none;
}

.newDay ul li {
	float: left;
	position: relative;
}

.newDay ul li .up {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.newDay ul li.upLi .up {
	display: block;
}

.newDay .newGoods {
	width: 1200px;
	overflow: hidden;
}

.newDay .newGoods dl {
	display: none;
}

.newDay .newGoods dl,
.newDay .newGoods dl dt {
	width: 1200px;
	overflow: hidden;
}

.newDay .newGoods dl dt img {
	float: left;
}

.newDay .newGoods dl dd {
	border: solid 1px #e0e0e0;
	width: 1190px;
	overflow: hidden;
	border-top: 0;
	padding: 10px 0 10px 4px;
	margin: 0 auto;
}

.newDay .newGoods dl dd p {
	float: left;
	padding: 0 5px;
}

.zt_block {
	width: 1200px;
	overflow: hidden;
	margin: 40px auto 0;
}

.zt_block h3 {
	float: left;
	width: 100%;
	overflow: hidden;
	height: 53px;
	border: 2px solid #000;
	border-left: none;
	border-right: 0;
	font-weight: normal;
}

.zt_block h3 span {
	float: left;
	padding: 0 40px 0 68px;
	font: normal 26px/53px 'Microsoft Yahei';
	color: #343434;
	letter-spacing: 4px;
	width: 216px;
}

.zt_block h3 p {
	float: left;
	padding: 16px 0 0 20px;
	color: #eaeaea;
}

.zt_block h3 p a,
.zt_block h3 p b {
	display: inline-block;
	padding: 0 8px;
	color: #989697;
}

.zt_block h3 p b {
	height: 22px;
	padding: 0 12px;
	line-height: 20px;
	border-right: 1px solid #eaeaea;
	color: #3f3f3f;
	font-family: 'Microsoft Yahei';
	letter-spacing: 2px;
	font-size: 14px;
}

.zt_block h3 p b a {
	color: #3f3f3f;
	font-size: 14px;
}

.zt_block h3 p a.red,
.zt_block h3 p a:hover {
	color: #e10164;
}

.zt_block .hotdeal {
	float: left;
	position: relative;
	width: 715px;
	height: 382px;
	margin-top: 12px;
	overflow: hidden;
}

.zt_block .hotdeal ul {
	overflow: hidden;
}

.zt_block .hotdeal ul li {
	float: left;
	width: 715px;
	height: 382px;
}

.zt_block .hotdeal ul li a,
.zt_block .hotdeal ul li a img {
	display: block;
	width: 713px;
	height: 380px;
}

.zt_block .hotdeal ul li a {
	border: 1px solid #ebebeb;
}

.zt_block .hotdeal .circleBtn {
	width: 66px;
	height: 18px;
	overflow: hidden;
	position: absolute;
	right: 0;
	bottom: 20px;
}

.zt_block .hotdeal .circleBtn span {
	float: left;
	width: 15px;
	height: 18px;
	margin-right: 8px;
	overflow: hidden;
	text-indent: -7px;
	font-size: 60px;
	color: #e2e2e2;
	cursor: pointer;
}

.zt_block .hotdeal .circleBtn span.on {
	color: #e30163;
}

.zt_block .blankList {
	float: left;
	display: inline;
	margin: 12px 0 0 12px;
	width: 230px;
}

.zt_block .blankList.first {
	margin-left: 0;
}

.zt_block .blankList a {
	position: relative;
	display: block;
	width: 228px;
	border: 1px solid #ebebeb;
}

.zt_block .blankList a img {
	display: block;
	width: 228px;
	height: 380px;
}

.sort_Item {
	width: 1200px;
	margin: 80px auto 0;
	background: #e4e4e4;
	padding-bottom: 70px;
}

.sort_Item h3 {
	height: 22px;
	border-bottom: 1px solid #ccc;
	_overflow: hidden;
}

.sort_Item h3 span {
	display: block;
	width: 128px;
	padding-top: 10px;
	background: #fff;
	margin: 0 auto;
	font-size: 16px;
	position: relative;
	text-align: center;
}

.sort_Item ul {
	width: 100%;
	padding-top: 52px;
	overflow: hidden;
}

.sort_Item ul li {
	float: left;
	width: 150px;
}

.sort_Item ul li strong {
	display: block;
	width: 100%;
	text-align: center;
	color: #000;
}

.sort_Item ul li a img {
	display: block;
	width: 73px;
	height: 86px;
	margin: 0 auto;
	padding: 5px 0;
}

.sort_Item ul li p {
	padding: 0 0 6px 26px;
	border-right: 1px dashed #ccc;
}

.sort_Item ul li.last p {
	border-right: 0;
}

.sort_Item ul li p a {
	display: inline-block;
	width: 56px;
	color: #999;
	line-height: 26px;
}

.footer {
	width: 100%;
	padding-bottom: 50px;
}

.footer .m_info {
	width: 100%;
	background: #ececec;
	padding: 5px 0 10px 0;
}

.footer .m_info .f_infos {
	width: 1182px;
	overflow: hidden;
	margin: 0 auto;
}

.footer .m_info ul {
	float: left;
	padding: 0 40px;
}

.footer .m_info ul li a {
	color: #7f7f7f;
}

.footer .m_info ul li.lititle {
	padding-top: 10px;
}

.footer .m_info ul li.lititle a {
	color: #2f2f2f;
	font-weight: bold;
}

.footer .f_mbs_info {
	width: 820px;
	margin: 32px auto 0;
	overflow: hidden;
}

.footer .f_mbs_info img {
	float: left;
	padding: 0 16px;
	border-right: 1px solid #d9d9d9;
}

.footer .f_mbs_info img.last {
	border-right: 0;
}

.foot_copyright {
	margin-top: 40px;
}

.foot_copyright .copy_text {
	width: 980px;
	margin: 0 auto;
}

.footer .f_mbs_info img.last {
	border-right: 0;
}

.footer .foot_copyright .qxpp {
	width: 465px;
	border: solid 1px #CCC;
	background: #f2f2f2;
	color: #565656;
	line-height: 22px;
	position: absolute;
	left: 365px;
	top: 19px;
	text-align: left;
	padding: 5px 10px 5px 10px;
	display: none;
}

.footer .foot_copyright .qxpp a {
	padding: 0 5px 0 5px;
	display: block;
	float: left;
}

.footer .foot_copyright a {
	color: #565656;
	white-space: nowrap;
}

.footer .foot_copyright a:hover {
	color: #e60067;
}

.footer .foot_copyright {
	color: #797979;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.footer .foot_copyright a {
	color: #797979;
	text-decoration: none;
}

.footer .foot_hzlogo {
	width: 644px;
	margin: 0 auto;
	overflow: hidden;
}

.footer .foot_hzlogo img {
	float: left;
	width: 86px;
	height: 33px;
	margin-right: 6px;
}

#divSiteMsg {
	overflow: hidden;
	position: absolute;
	right: 123px;
	top: 25px;
	width: 350px;
	display: none;
}

.s_message {
	width: 350px;
	height: auto;
	float: left;
	overflow: hidden;
}

.s_message h2 {
	width: 315px;
	height: 40px;
	overflow: hidden;
	color: #fff;
	font: normal 16px/37px '宋体';
	padding: 15px 19px 0 22px;
	background: 0 none;
	background: url(http://images2.moonbasa.com/Images/20120710/m_message_top.png) no-repeat 0 0;
	_background: 0 none;
	_background: url(http://images2.moonbasa.com/Images/20120710/m_message_topie6.png) no-repeat 1px 0;
	float: left;
}

.s_message h2 span {
	float: left;
	padding-left: 7px;
	height: 40px;
	line-height: 40px;
}

.s_message h2 span font {
	font-size: 12px;
	font-weight: normal;
	padding: 0 5px;
	color: #959595;
}

.s_message h2 a.s_close {
	float: right;
	width: 15px;
	height: 15px;
	padding: 10px 5px 15px 0;
	*padding: 0 5px 15px 0;
}

.s_message .s_message_con {
	width: 350px;
	background: url(http://images2.moonbasa.com/Images/20120710/m_message_px_bg.png) repeat-y 1px 0;
	_background: 0 none;
	_background: url(http://images2.moonbasa.com/Images/20120710/m_message_px_bgie6.png) repeat-y 1px 0;
	position: relative;
	float: left;
}

.s_message .border_div {
	width: 300px;
	height: 0;
	line-height: 0;
	font-size: 1px;
	overflow: hidden;
	margin: 0 25px;
	_margin: 0 12px;
	border-top: 1px solid #363636;
	border-bottom: 1px solid #606060;
	float: left;
}

.s_message .s_message_c {
	width: 300px;
	float: left;
	overflow: hidden;
	padding: 8px 25px 0 25px;
}

#gotop1 {
	display: none;
	position: fixed;
	bottom: 310px;
	width: 44px;
	height: auto;
	border: 1px solid #e9e9e9;
}

#gotop1 .left_top {
	width: 71px;
	height: 93px;
	background: url(http://i2.mbscss.com/img/moonbasa/2013/12/19/left_top.png) no-repeat;
}

#gotop1 a,
#gotop1 a img {
	width: 44px;
	display: block;
}

* html #gotop1 .left_top {
	background: 0;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://i2.mbscss.com/img/moonbasa/2013/12/19/left_top.png');
}

* html #gotop1 {
	position: absolute;
	bottom: auto;
	top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||280)));
}

#gotop1 strong {
	display: block;
	padding-right: 12px;
	line-height: 18px;
	color: #666;
	background: url(http://i1.mbscss.com/img/moonbasa/2013/08/13/down.jpg) no-repeat 58px 6px;
	font-weight: normal;
	text-align: right;
	cursor: pointer;
}

#gotop1 strong.on {
	background: url(http://i2.mbscss.com/img/moonbasa/2013/08/13/up.jpg) no-repeat 58px 6px;
}

#gotop1 ul {
	display: block;
	width: 44px;
	overflow: hidden;
}

#gotop1 ul li {
	float: left;
}

#gotop1 a img {
	display: none;
}

#gotop1 a img.on {
	display: block;
}

#gotop1 a.shopcat {
	position: relative;
}

#gotop1 a.shopcat span {
	position: absolute;
	right: 10px;
	top: 7px;
	display: block;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	color: #fff;
}

#gotop123 {
	display: none;
	width: 110px;
	left: 0;
	position: fixed;
	bottom: 310px;
	z-index: 1;
}

* html #gotop123 {
	position: absolute;
	bottom: auto;
	top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||300)));
}

#gotop123 a,
#gotop123 a img {
	display: block;
}

#gotop123 a {
	width: 105px;
	position: relative;
}

#gotop123 a i {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	background: url(http://i2.mbscss.com/img/moonbasa/2014/03/05/close.jpg) no-repeat;
	width: 19px;
	height: 19px;
}

.gotopHide {
	display: none;
}